name: Maven build

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  mvn:
    uses: Netcracker/qubership-core-infra/.github/workflows/maven-build-with-sonar.yaml@v1.3.1
    with:
      event-name: ${{ github.event_name }}
      actor: ${{ github.actor }}
